<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, to <%= @url %> </h1>
<p>
  <%= @user_shared.email %> invite you in ours site. <br/>

</p>
<p>Thanks and Have a nice day!</p>
</body>
</html>