<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>News from <%= @url %> </h3>
<p>
  <%= @user_shared.email %> made ​​the document available to you. <br/>
  If you want receive access to document, login <%= @user_v %> <br/>

</p>
<p>Thanks and Have a nice day!</p>
</body>
</html>
