<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello, to <%= @url %> </h1>
<p>
  <%= @user_shared.email %> shared document with you, but you don't have access to ours site <br/>
  If you want receive access to document, sign up in <%= @url %> with login <%= @user_v %> <br/>

</p>
<p>Thanks and Have a nice day!</p>
</body>
</html>
